.body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(27 27 27 / 8%);
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 22px;
}
.section {
    background: white;
    margin: 22px 0;
    box-shadow: 0 0 7px #ddd;
}