@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        }
    }
.body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(27 27 27 / 8%);
}
.section__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;;
}
.js-newTask{
    width: 80%;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 22px;
}
.section {
    background: white;
    margin: 22px 0;
    box-shadow: 0 0 7px #ddd;
}
.section__title {
    font-size: 22px;
    padding: 22px;
    border-bottom: 1px solid #d2d2d2;
}
.section__body {
    padding: 22px;
}
.form__input {
    padding: 10px;
    font-size: 16px;
}
.form__button{
    border: none;
    font-size: 16px;
    background: teal;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 10px;
}
.form__button:hover {
    background: rgb(17, 168, 168);
}

.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 11px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.tasks__item--checked {
    text-decoration: line-through;
   }
.task__button {
    background-color: #1dbe1d;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.task__button:hover {
    background: #2de62d;
}

.toggle__button--cheked {
    background: #1dbe1d;
}
.remove__button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px
}

.remove__button:hover {
    background-color: rgba(246, 7, 7, 0.516);
}