@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(27 27 27 / 8%);
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 22px;
}

